/* #BE861E */
body {
    font-family: hack, monospace;
}

hr {
    border-top: 2px solid #FAD190;
}

a {
  color: #BF8720!important;
}
a:hover {
  color: #D4A552!important;
}
.lighter-link {
  color: #D4A552!important;
}
.bg-list {
    background: black;
}

::placeholder {
    color: rgba(190, 134, 30, 0.5)!important;
}
input, textarea {
    color: #FAD190!important;
    background-color: #2E2A24!important;
    border-color: #FAD190!important;
}

.bg-dark {
  background-color: #2E2A24!important;
}
.text-light {
  color: #FAD190!important;
}
.text-list {
    color: #FAD190!important;
}


.my-border {
    border: 1px solid #FAD190
}

.h-100 {
  height: 100vh;
}
.my-spacer {
  height: 5vh;
}
.my-little-spacer {
  height: 2.5vh;
}
.my-big-spacer {
  height: 15vh;
}


.badge-danger {
    color: #D8CBAA!important;
}
.badge-danger:hover {
    color: #BE861E!important;
} 
