/* #BE861E */
body {
    font-family: hack, monospace;
}

hr {
    border-top: 2px solid #FAD190;
}

a {
  color: #BF8720!important;
}
a:hover {
  color: #D4A552!important;
}
.lighter-link {
  color: #D4A552!important;
}
.bg-list {
    background: black;
}

.bg-dark {
  background-color: #2E2A24!important;
}
.text-light {
  color: #FAD190!important;
}
.text-list {
    color: #BE861E!important;
}


.my-border {
    border: 1px solid #BE861E
}

.h-100 {
  height: 100vh;
}
.my-spacer {
  height: 5vh;
}
.my-little-spacer {
  height: 2.5vh;
}
.my-big-spacer {
  height: 15vh;
}


/*
 .btn-danger {
    color: #9d0006;
    background: #9d0006;
    border-color: #9d0006;
}
.btn-danger:hover {
    color: #cc241d;
    background: #cc241d;
    border-color: #cc241d;
}
*/
.badge-danger {
    background: #9d0006;
}
.badge-danger {
    background: #cc241d;
} 